body {
  background-color: #0e0e0e;
  margin: 0px;
  height: 100vh;
  line-height: 20px;
  box-sizing: border-box;

  /* TODO: Remove this later */
  color: #fff;
}

.header {
}

.title__header {
}

.info {
  padding: 10px;
}

.info__title {
}

.cards-container {
  display: flex;
  flex-wrap: wrap;
}

.card-item {
  border: 2px dashed #a1a1a1;
  text-align: justify;
  position: relative;
  margin: 20px;
}

.card-item h2 {
  position: absolute;
  top: 0px;
  left: 50%;
  border: 2px solid #a1a1a1;
  border-radius: 5px;
  margin: 0px;
  color: #fa66d5;
  padding: 5px 10px;
  transform: translate(-50%, -50%);
  width: 90%;
  background: #0e0e0e;
}

.info__card {
  color: #fa66d5;
  padding-top: 40px;
}

.code-container {
  padding: 10px;
  padding-bottom: 40px;
}

.code-snippet {
  border-radius: 5px;
  background: linear-gradient(to bottom, #aa40a5, #cf80cb);
  padding: 10px;
}

.title__footer {
}
