body {
  background-color: #0e0e0e;
  margin: 0px;
  height: 100vh;
  line-height: 20px;

  /* TODO: Remove this later */
  color: #fff;
}

.header {
}

.title__header {
}

.info {
}

.info__title {
}

.cards-container {
  display: flex;
  flex-wrap: wrap;
}

.card-item {
  border: 2px dashed #a1a1a1;
  padding: 10px;
  text-align: justify;
}

.info__card {
  color: #fa66d5;
}

.code-snippet {
  border-radius: 5px;
  background: linear-gradient(to bottom, #aa40a5, #cf80cb);
  padding: 10px;
}

.title__footer {
}
